html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: yekanRegular;
}

@font-face {
    font-family: 'yekanRegular';
    src: 	url('./fonts/Yekan.eot?#') format('eot'),
		url('./fonts/Yekan.woff') format('woff'),
		url('./fonts/Yekan.ttf') format('truetype');
}

/* remove Highcharts logo */
text.highcharts-credits {
    display: none;
}

.filters-box {
    text-align: center;
    padding: 20px;
}

.filter {
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    margin: 0px 5px;
}

.filter select {
    min-width: 150px;
    direction: rtl;
    padding: 5px;
    border-radius: 5px;
}

.filter .filtertitle {
    float: right;
    min-width: 100px;
}

span.selection {
    text-align: right;
    direction: rtl;
}

.select2-selection--multiple .select2-selection__choice {
    width: 88%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    margin-right: -1px;
    padding-left: 3px;
}

.select2-container--default .select2-results>.select2-results__options {
    direction: rtl;
}
